@import url(./root.css);
@import url(./mediya.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none !important;
}

.nav-container {
    max-width: 1360px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.my-container {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.nav-bg {
    border-bottom: 1px solid rgba(251, 253, 255, 0.20);
    background: rgba(251, 253, 255, 0.01);
   
}

.cursor {
    cursor: pointer !important;
}

.m_1 {
    margin-bottom: -9px;
}

.bg-header {
    background-image: url(../img/bg-header.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sec-bg {
    background-image: url(../img/sec-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-footer {
    background-color: #021728;
}

.btn-try {
    border-radius: 40px;
    background: linear-gradient(160deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.50);
    padding: 13px 32px;
    border: 1px solid transparent;
    transition: all 300ms linear;
}

.btn-try:hover {
    border-radius: 40px;
    border: 1px solid var(--fc-white2);
    background: transparent;
    box-shadow: none;
}

.btn-select {
    border-radius: 40px;
    border: 1px solid var(--White, #FBFDFF);
    background: transparent;
    padding: 13px 32px;
}

.btn-select:hover {
    padding: 0.8em 1.8em;
    border: 1px solid transparent;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.50);
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    transition: all 300ms linear;
    color: #17C3B2;
}

.btn-select::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: linear-gradient(160deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    transition: .5s ease;
    display: block;
    z-index: -1;
    transition: all 300ms linear;
}

.btn-select:hover::before {
    width: 105%;
}

.btn-select:hover {
    color: var(--fc-white2);
}


ul {
    margin-bottom: unset;
    padding-left: unset;
}

.min-h500 {
    min-height: 500px;
}

.mxw-515 {
    max-width: 515px;
}

.mxw-525 {
    max-width: 525.868px;
}

.mxw-168 {
    width: 168.868px;
}

.mxw-108 {
    width: 108.868px;
}

.mxw-198 {
    width: 199.868px;
}

.mt_up {
    margin-top: -150px;
}

.mxw-227 {
    max-width: 227.819px;
}

.mxw-537 {
    max-width: 537.868px;
}

.mxw-617 {
    max-width: 617.835px;
}

.mxw-460 {
    max-width: 460px;
}

.mxw-467 {
    max-width: 467px;
}

.mxw-474 {
    max-width: 474px;
}

.mxw-438 {
    max-width: 438px;
}

.mxw-370 {
    max-width: 370.747px;
}

.bg-color {
    background-color: var(--fc-black);
}

.big-img {
    transform: translateY(-30%);
}

.img1 {
    margin-top: -5%;
}

.box1 {
    border-radius: 10px;
    background: rgba(3, 137, 255, 0.12);
    backdrop-filter: blur(12.5px);
    max-width: 531px;
}

.box2 {
    border-radius: 10px;
    background: rgba(3, 137, 255, 0.12);
    backdrop-filter: blur(12.5px);
    max-width: 400px;
}

.line-arrow {
    position: absolute;
    right: -10px;
    bottom: 38%;
}

.line-arrow2 {
    position: absolute;
    right: -10px;
    bottom: 38%;
}

.border-right1 {
    border-right: 1px solid var(--fc-grey);
}

.border-right3 {
    border-right: 1px solid transparent;
}

.border-right2 {
    border-right: 1px solid var(--fc-grey);
}

.border-bottom1 {
    border-bottom: 1px solid var(--fc-grey);
}

.border-bottom3 {
    border-bottom: 1px solid var(--fc-grey);
}

.border-top1 {
    border-top: 1px solid var(--fc-grey);
}

.border-bottom5 {
    border-bottom: 1px solid var(--fc-grey);
    width: 100%;
}


.outline_0 {
    outline: 0;
    background: transparent;
}

.emil-box {
    border-radius: 29px;
    background: rgba(251, 253, 255, 0.07);
    padding: 1px 0px 1px 33.713px;
    gap: 167.287px;
    max-width: 520px;
}

.svg-circle {
    width: 32px;
    height: 32px;
    border: 1px solid var(--fc-white3);
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: all 300ms linear;
}
.svg-circle:hover{
    transform: translateY(-10px) !important;
    border:1px solid var(--fc-white2);
}
.svg-circle:hover path {
    fill:var(--fc-white2);
}


.custom-container {
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 12px !important;
}

.slider3 .slick-list .slick-track {
    padding-bottom: 40px;
}

.slider3 .slick-dots {
    display: flex !important;
    gap: 9px;
    justify-content: center;
}

.slider3 .slick-dots li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 18px;
    background: var(--color-white);
    margin: 0 !important;
}

.slider3 .slick-dots li button:before {
    content: unset;
}

.slider3 .slick-dots li.slick-active {
    background: var(--color-light-blue);
    width: 53px !important;
    height: 10px !important;
    border-radius: 18px;
}

.slider3 {
    margin: 0 -15px !important;
}

.slider3 .slick-slide {
    margin-left: 15px;
    margin-right: 15px;
}

.slider3 .slick-list .slick-track .slick-slide.slick-current.slick-active.slick-center.slider3-card {
    opacity: 100%;
}

.slider3 .slick-list .slick-track .slick-slide.slick-current.slick-active.slider3-card {
    opacity: 100%;
}

.mw-834 {
    max-width: 834px;
}

.slider3-card {
    padding: 27px 20px 42px 20px;
    border-radius: 20px;
    background: rgba(3, 137, 255, 0.12);
}

.slick-dots li.slick-active {
    transition: all .2s linear;
}

.lh-150 {
    line-height: 150%;
}

.slick-track {
    overflow: hidden;
}


.slick-dots li button:before {
    content: '' !important;
}

.slick-dots li {
    width: 10px !important;
    height: 10px !important;
    content: '';
    color: #E3E4E5 !important;
    background-color: #E3E4E5 !important;
    border-radius: 28px;
}

.slick-dots {
    bottom: -40px !important;
}

.slick-dots li.slick-active {
    opacity: 100%;
    background-color: #0389FF !important;
    border-radius: 28px;
    height: 10px !important;
    width: 50px !important;
}

ul.slick-dots {
    padding-bottom: 33px !important;
}

.font-style {
    font-style: italic;
}

.max-834 {
    max-width: 834px;
}

.slider3 .slick-slide .slick-current,
.slider3 .slick-slide.slick-active p {
    color: var(--fc-white2) !important;
    font-style: italic;
}

.screen-slide {
    transition: .3s;
    filter: grayscale(100%);
}

.screen-slide:hover {
    filter: grayscale(00%);
}

.gradient {
    background: linear-gradient(180deg, rgba(2, 13, 21, 0.00) 0%, #020D15 100%);
    width: 100%;
    height: 86px;
    rotate: 180deg;
}

.gradient-b {
    background: linear-gradient(180deg, rgba(2, 13, 21, 0.00) 0%, #020D15 100%);
    width: 100%;
    height: 86px;
}

.letter {
    letter-spacing: 2px;
}

.img_mwh {
    width: 64px;
    height: 64px;
}

.pl-26 {
    padding-left: 26px !important;
}

.max-370 {
    max-width: 370px;
}

.accordion-item {
    border: none !important;
    border-radius: 10px !important;
    background: rgba(3, 137, 255, 0.12) !important;
    margin-bottom: 20px !important;

}

.mh-550 {
    min-height: 550px;
}

.accordion-body {
    padding: 0 !important;
    padding-left: 27px !important;
    padding-bottom: 20px !important;
}

.mw-370 {
    max-width: 370px;
}

.tranlate-xy {
    transform: translate(14px, 30px);
}

.accordion-button {
    color: var(--fc-white2) !important;
    transition: all 500ms linear !important;

}

.accordion-button:not(.collapsed) {
    padding-bottom: var(--bs-accordion-active-padding-bottom) !important;
    transition: all 300ms linear !important;
    color: var(--fc-blue) !important;
}

.accordion {
    --bs-accordion-bg: none !important;
    --bs-accordion-active-bg: none !important;
    --bs-accordion-border-width: none !important;
    --bs-accordion-btn-focus-border-color: none !important;
    --bs-accordion-btn-focus-box-shadow: none !important;
    --bs-accordion-active-color: var(--color-light-blue) !important;
    --bs-accordion-active-padding-bottom: 7px !important;
}

.accordion-button:focus {
    border-color: none !important;
}

.accordion-button::after {
    content: unset !important;
}

.z-11 {
    z-index: 11;
}

#back-to-top {
    display: none;
    position: fixed;
    z-index: 3;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    background-color: var(--color-black1);
    color: var(--color-black1);
    border: none;
    border-radius: 50%;
    padding: 10px;
}

.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
}

.button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(181, 160, 255);
    align-items: center;
}

.button:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-60%);
}

.dollar-card {
    transition: all 300ms linear;
}

.my-card:hover .dollar-card {
    color: var(--fc-blue);
}

.elipse {
    width: 299.329px;
    height: 303.657px;
    flex-shrink: 0;
    border-radius: 303.657px;
    opacity: 0.4;
    background: #1673FF;
    filter: blur(100px);
}
.img-elipse{
    bottom: 26%;
    left: 7%;
    z-index: -1;
}
.sec-5{
    right: 0;
    top: 50%;
    z-index: 1;
}
.sec-5-1{
    left: 0;
    bottom: 0;
    z-index: 1;
}
.sec-6{
    right: 0;
    bottom: 30%;
    z-index: -1;
}
.sec-6-1{
    left: 20%;
    bottom: 30%;
    z-index: -1;
}
.sec-8{
    left: 20%;
    bottom: 20%;
    z-index: -1;
}
.sec-8-1{
    right: 0;
    bottom: 20%;
    z-index: -1;
}
.sec-9{
    right: 40%;
    bottom: 10%;
    z-index: -1;
}
.sec-10{
    right: 9%;
    top: 15%;
    z-index: -1;
    height: 395.788px !important;
}
.sec-10-1{
    right: 9%;
    top: 15%;
    z-index: -1;
    height: 395.788px !important;
}
.sec-11{
    left: 0;
    top: 8%;
    z-index: -1;
}
.center-elipse{
    top: 20%;
    left: 40%;
}
.z-10{
    z-index: 10;
}
.pari-container {
    gap: 10px
  }
  
  .folder {
    width: min-content;
    margin: auto;
    animation: float 2s infinite linear;
  }
  
  .folder .top {
    background-color: #FF8F56;
    width: 60px;
    height: 12px;
    border-top-right-radius: 10px;
  }
  
  .folder .bottom {
    background-color: #FFCE63;
    width: 100px;
    height: 70px;
    box-shadow: 5px 5px 0 0 var(--fc-grey2);
    border-top-right-radius: 8px;
  }
  
  .paricontainer .title {
    font-size: .9em;
    color: var(--fc-grey2);
    text-align: center;
    margin-top: 15px;
  }
  
  @keyframes float {
    0% {
      transform: translatey(0px);
    }
  
    50% {
      transform: translatey(-25px);
    }
  
    100% {
      transform: translatey(0px);
    }
  }
  .home {
    position: relative;
    transition: all 300ms linear;

}

.home:hover {
    -webkit-text-stroke: 1px var(--fc-white);
}

.home::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    background-color: var(--fc-blue);
    left: 0;
    top: 25px;
    transition: 300ms all linear;
}

.home:hover::after {
    width: 100%;
}
  
  